{% extends "layout.twig" %}
{% block header %}
<form action="{{path('users_logout')}}">
    <input type="submit" id="btnLogOut" value="Log Out">
</form>
{% endblock %}
{% block content %}
<div id="createRibbit" class="panel right">
    <h1>Create a Ribbit</h1>
    <p>
    {% include 'forms/ribbitCreateForm.twig' with {form:ribbitCreateForm,action:""} only %}
        </p>
    </div>
    <div id="ribbits" class="panel left">
        <h1>Your Ribbit Profile</h1>
        <div class="ribbitWrapper">
            <img class="avatar" src="{{user.getAvatarUrl()}}">
            <span class="name">{{user.getName()}}</span> @{{user.getUsername()}}
            <p>
                567 Ribbits<span class="spacing">45 Followers</span><span class="spacing">32 Following</span><br>
                Cras justo odio, dapibus ac facilisis in, egestas Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. <a href="#">http://net.tutsplus.com/tutorials/php/ ...</a>
            </p>
        </div>
    </div>
    <div class="panel left">
        <h1>Your Ribbit Buddies</h1>
    {% for ribbit in ribbits %}
        <div class="ribbitWrapper">
            <img class="avatar" src="{{ribbit.getUser().getAvatarUrl()}}">
            <span class="name">{{ ribbit.getUser().getUsername()}}</span> 
            @{{ ribbit.getUser().getUsername()}} 
            <span class="time">{{ ribbit.getCreatedAt()|date('y/m/d g:ia')}}</span>
            <p>{{ ribbit.getRibbit() }}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}

