{% extends "layout.twig" %}
{% block header %}
{% include "admin_menu.twig" %}
{% endblock %}
{% block content %}
<div id="createRibbit" class="panel right">
    <h1>Create a Ribbit</h1>
    <p>
        {{ render(path("ribbits_admin_create")) }}
    </p>
</div>
<div id="ribbits" class="panel left">
    <h1>Your Ribbit Profile</h1>
    <div class="ribbitWrapper">
        <img class="avatar" src="{{user.getAvatarUrl()}}">
        <span class="name">{{user.getName()}}</span> @{{user.getUsername()}}
        <p>
         {{ user.getRibbits()|length}} Ribbits <span class="spacing">{{user.getFollowers()|length}} Followers</span><span class="spacing">{{ user.getFollowee()|length}} Following</span><br>
     </p>
 </div>
</div>
{% if ribbits is defined %}
<div class="panel left">
    <h1>Your Ribbits</h1>
    {% include 'ribbits_admin_list.twig' with {ribbits:ribbits} only %}
</div>
{% endif %}
{% endblock %}

