<a href="{{path("admin_followee_ribbits")}}">Buddies&#x27; Ribbits</a>
<a href="{{path('admin_users')}}">Public Profiles</a>
<a href="{{path('admin_profile')}}">My Profile</a>
<a href="{{path("admin_ribbits")}}">Public Ribbits</a>
<form action="{{path('users_logout')}}" method="POST">
    <input type="submit" id="btnLogOut" value="Log Out">
</form>