<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} ribbit </title>
        <link rel="icon" type="image/png" href="{{app.request.basePath}}/favicon.ico" />
        <link rel="stylesheet/less" href="{{app.request.basePath}}/style.less">
        <link rel="stylesheet/less" href="{{app.request.basePath}}/flash.less">
        <script src="{{app.request.basePath}}/less.js"></script>
    </head>
    <body>
        <header>
            <div class="wrapper">
                <a href="{{app.request.basePath}}/"><img src="{{app.request.basePath}}/gfx/logo.png"></a>
                <span>Twitter Clone</span>
                {% block header %}{% endblock %}
            </div>
        </header>
        <div id="content">
            <div class="wrapper">
                {% for type,messages in app.session.getFlashBag().all() %}
                    {% for message in messages %}
                    <div class='flash {{type}}'>{{message}}</div>
                    {% endfor %}
                {% endfor %}
                {% block content %}default content please override in child templates {% endblock %}
                </div>
            </div>
            <footer>
                <div class="wrapper">
                    Ribbit - A Twitter Clone Tutorial
                    Ported by M.PARAISO : <a href="mailto:mparaiso@online.fr ">mparaiso@online.fr </a> .<a href="https://github.com/Mparaiso/silex-ribbit">get the source on github</a>
                    <img src="{{app.request.basePath}}/gfx/logo-nettuts.png">
                </div>
            </footer>
            {%include 'common/google_analytics.twig' %}
    </body>
</html>