{% extends "layout.twig" %}
{% block header %}
{% include "admin/users/admin_menu.twig" %}
{% endblock %}
{% block content %}
<div id="createRibbit" class="panel right">
    <h1>Create a Ribbit</h1>
    <p>
        {% include 'forms/ribbitCreateForm.twig' with {form:ribbitCreateForm,action:""} only %}
    </p>
</div>
{% if user is defined %}
<div id="ribbits" class="panel left">
    <h1>Your Ribbit Profile</h1>
    <div class="ribbitWrapper">
        <img class="avatar" src="{{user.getAvatarUrl()}}">
        <span class="name">{{user.getName()}}</span> @{{user.getUsername()}}
        <p>
         {{ user.getRibbits()|length}} Ribbits <span class="spacing">{{user.getFollowers()|length}} Followers</span><span class="spacing">{{ user.getFollowee()|length}} Following</span><br>
     </p>
 </div>
</div>
{% endif %}
<div class="panel left">
    <h1>Your Ribbits</h1>
    {% for ribbit in ribbits %}
    <div class="ribbitWrapper">
        <img class="avatar" src="{{ribbit.getUser().getAvatarUrl()}}">
        <span class="name">{{ ribbit.getUser().getUsername()}}</span> 
        @{{ ribbit.getUser().getUsername()}} 
        {# @note @twig afficher une date du type \DateTime avec un filtre #}
        <span class="time">{{ ribbit.getCreatedAt()|date('y/m/d g:ia')}}</span>
        <p>{{ ribbit.getRibbit() }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

